body{
    background-color: rgb(201, 226, 225);
    color: black;
}

h1{
    color: blue;
    font-size: 35px;
}

p{
    color: black;
    font-size: 20px;
}

header{
    border-bottom: solid 2px blue;
    font-size: 40px;
    color: rgb(2, 2, 137);
    padding: 15px;
}

.chama-texto {
    
}